*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1600px;
    margin: 0 auto;
    font-family: 'Work Sans';
    color: #444343;
}
header{
    background-image: url(images/banner/banner3.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 808px;
    position: relative;
}

/* Common Designs */

.tight-centered{
    max-width: 1140px;
    margin: 0 auto;
}
button{
    border-radius: 5px;
    border: none;
    padding: 21px 26px;
    font-size: 20px;
    font-weight: 600;
    color: #005FAC;
}

/* Header Part */
.header-content{
    position: absolute;
    text-align: end;
    width: 525px;
    height: 228px;
    right: 230px;
    top: 216px;
    color: white;
}
.header-content h2{
    font-size: 65px;
    font-weight: 700;
    line-height: 76.25px;
}
.header-content p{
    line-height: 26px;
    margin: 24px 0 32px 0;
}

/* Failure Part */
.failures{
    display: flex;
    flex-direction: row;
    margin: 130px auto;
}
.failure-content{
    padding: 240px 0 0 87px;
}
.failure-title{
    font-size: 40px;
    font-weight: 700;
}
.failure-content p{
    font-size: 16px;
    line-height: 26px;
    margin: 24px 0 16px 0;
    width: 416px;
}
.failure-content ul{
    list-style-image: url(images/check.png);
    list-style-position: inside;
}
.failure-content ul li{
    line-height: 26px;
}

/* Plans part */
.plans{
    padding: 0 0 130px;
}
.plans .plans-heading{
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 50px;
}
.all-plans{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.each-plan{
    align-items: center;
    text-align: center;
}
.each-plan h2{
    font-size: 30px;
    font-weight: 700;
    color: #151414;
}
.each-plan p{
    font-size: 25px;
    font-weight: 500;
    color: #737272;
}

/* Call Part */
.call{
    background-image: linear-gradient(to right,#005FAC 0%, rgba(0, 95, 172, 0) 100%), url(images/watch.png);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 60px 65px;
    border-radius: 8px;
}
.call h2{
    margin: 0 0 25px;
    font-size: 40px;
    font-weight: 700;
}

/* Footer Part */
footer{
    margin-top: 130px;
    padding: 130px;
    background-color: #151414;
    color: white;
}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-left-part{
    width: 445px;
}
.footer-left-part h2{
    font-style: normal;
    font-size: 45px;
    font-weight: 700;
    color: #F8F8F8;
}
.footer-left-part p{
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0 25px;
}
.foot-socials{
    width: 175px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-right-part{
    width: 325px;
    display: flex;
    flex-direction: column;
}
.footer-right-part h2{
    font-size: 25px;
    font-weight: 600;
}
.footer-right-part input{
    margin: 30px 0 15px;
    background: none;
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    font-style: normal;
}
.footer-right-part input::placeholder{
    color: #f3f3f3;
}
.subscribe{
    width: 170px;
    background-color: #005FAC;
    color: white;
}

/* Extra part */

.extra-field{
    padding: 0 0 130px;
}
.extra-field h2{
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 50px;
}
.all-knowings{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.each-knowing{
    border: 1px solid white;
    padding: 7px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom,#005fac3b 0%, rgba(0, 95, 172, 0) 100%);
}
.knowing-title{
    font-size: 30px;
    font-weight: 700;
    color: #151414;
}
.each-knowing p{
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
    padding: 15px;
}